
<form ng-show="login">
<h1>Login</h1>
<table>

<tr>
<td>User name:</td>
<td><input ng-model="user.username" /> <br></td>
</tr>
<tr>
<td>Password:</td>
<td><input ng-model="user.password" /></td>
</tr>
<tr>
<td><button ng-click="login(user)">Login</button></td>
<td><button ng-click="viewRegister()">New User ?? Register</button></td>
</tr>
</table>
</form>


<script>
$("#passwordMatchError").hide();
$("#confirmPassword").blur(function(){
	console.log("Inside confirm password");
	var pass = document.getElementById('password').value;
	var confirmPass = this.value;
	console.log(document.getElementById('password').value);
	console.log(this.value);
	if(pass == confirmPass)
		{
		console.log("password match");
		$("#passwordMatchError").hide();
		}
	else
		{
		$("#passwordMatchError").show();
				
		}
});
</script>
<style>
.error{
color:red;
}
</style>
<form name="regForm" ng-hide="login">
<h1> Register</h1> 
<span class="error">{{error}}</span>
<table>
<tr>
<td>User name <span class="error">*</span></td>
<td><input ng-model="user.username" required/><br/></td>
</tr>
<tr>
<td>Password <span class="error">*</span></td>
<td><input ng-model="user.password" type="password" id="password" required/></td>
</tr>
<tr>
<td> Confirm Password <span class="error">*</span></td>
<td><input type="password" id="confirmPassword" ng-model="user.password2" required />
<span class="error" id="passwordMatchError"> Passwords do not match!</span>
</tr>

<tr>
<td> Email<span class="error">*</span></td>
<td><input type="email" name="input" ng-model="user.email" required>
<span class="error" ng-show="regForm.input.$error.email">Please enter a valid email !!</span>

</td>
</tr>
<tr>
<td><button ng-click="registerUser(user)">Register</button></td>
</tr>
</table>
</form>
</form>

