<style>
    .messages {
        font-family: Georgia;
        color: #000000;
    }
</style>
<div class="jumbotron">
    <div class="container text-center">
        <h1 class="h"><b>Sharepoint</b></h1>
    </div>
</div>

<div class="container">
    <section>

        <div class="carousel slide" id="carousal">
            <ol class="carousel-indicators">
                <li data-target="#carousal" data-slide-to="0" class="active"></li>
                <li data-target="#carousal" data-slide-to="1"></li>
                <li data-target="#carousal" data-slide-to="2"></li>
                <li data-target="#carousal" data-slide-to="3"></li>

            </ol>
            <div class="carousel-inner ">
                <div class="item active">
                    <img src="images/donate1.jpg" alt="Shop1" width="500" height="30" />
                </div>
                <div class="item">
                    <img src="images/donate2.jpg" alt="Shop image" width="500" height="30" />
                </div>
                <div class="item">
                    <img src="images/donate3.jpg" alt="Shop image" width="500" height="30" />
                </div>
                <div class="item">
                    <img src="images/f7.jpg" alt="Shop image" width="500" height="30" />
                </div>
                <div class="item">
                    <img src="images/f6.jpg" alt="Shop image" width="500" height="30" />
                </div>


            </div>
            <a href="#carousal" class="left carousel-control" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a href="#carousal" class="right carousel-control" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>

    </section>
</div>
<div class=container>
    
    <section>
       
        <div class="jumbotron page-header" ng-controller="refresh_control">
            <h3>Latest Updates:</h3>
            <h2 class="messages"><b>{{message}}</b></h2>            
        </div>

    </section>
</div>
<footer>

    <ul class="list-inline text-center item">
        <li>

            <a href="https://www.linkedin.com/pub/bhaktisanglikar" width="50px" height="50px">
                <img src="images/linkedin.png" alt="LinkedIn">
            </a>
            <a href="https://www.facebook.com/bhakti.sanglikar" width="50px" height="50px">
                <img src="images/facebook.png" alt="Facebook">
            </a>

        </li>

    </ul>

</footer>


</div>